<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>162191643161-itsnm9ps831rs5jjrpr3n9lhe007cqv0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.162191643161-itsnm9ps831rs5jjrpr3n9lhe007cqv0</string>
	<key>API_KEY</key>
	<string>AIzaSyCFQ_I13-VL_4VQR4bdp2P140BQuz2LjyE</string>
	<key>GCM_SENDER_ID</key>
	<string>162191643161</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.gracedominion</string>
	<key>PROJECT_ID</key>
	<string>gracedominion-d5643</string>
	<key>STORAGE_BUCKET</key>
	<string>gracedominion-d5643.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:162191643161:ios:8274aceb55eb32638f9088</string>
</dict>
</plist>